<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.expectations.expenses">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.App">
        <activity
            android:name=".ui.overview.OverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Drawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.accounts.AccountsActivity"
            android:label="@string/title_activity_accounts"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />
        <activity
            android:name=".ui.accounts.NewAccountActivity"
            android:label="@string/title_activity_new_account"
            android:parentActivityName=".ui.accounts.AccountsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.accounts.EditAccountActivity"
            android:label="@string/title_activity_edit_account"
            android:parentActivityName=".ui.accounts.AccountsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.transactions.TransactionsActivity"
            android:label="@string/title_activity_transactions"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />
        <activity
            android:name=".ui.backup.BackupActivity"
            android:label="@string/title_activity_backup"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />
        <activity
            android:name=".ui.backup.FinancistoImportActivity"
            android:label="@string/title_activity_financisto_import"
            android:parentActivityName=".ui.backup.BackupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.categories.CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />
        <activity
            android:name=".ui.categories.SubcategoriesActivity"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".ui.categories.CategoriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payees.PayeesActivity"
            android:label="@string/title_activity_payees"
            android:theme="@style/AppTheme.NoActionBar.Drawer" />

        <provider
            android:name=".provider.ExpensesProvider"
            android:authorities="ro.expectations.expenses.provider"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".restore.LocalRestoreIntentService"
            android:exported="false" />
        <service
            android:name=".restore.FinancistoImportIntentService"
            android:exported="false" />

    </application>

</manifest>
